<div class="container">
  <h1>URL Shortner</h1>

  <form action="/" method="post">
  	<input type="text" name="url" placeholder="Type url here&hellip;"></input>  
    <input type="submit" value="Shorten URL"> 
  </form>

  
</div>
