<div class="container">

  <h1>URL Shortner</h1>
  
  <% if @current_user%>
  <%= "Hello, #{@current_user.username}!" %>
  <a href="/logout"> Log Out </a>
  <ul>
  <% @current_user.urls.each do |url| %>
    <li><a href="<%=url.url_short%>"</a><%=url.url_short%></a></li>
  <% end %>
  </ul>
  <% else %>
    <form action="/signin" method="post">
      <input type="text" name="username" placeholder="username"> </input>
      <input type="password" name="password" placeholder="password"> </input>
      <input type="submit" value="Sign-in">
    </form>
    <a href="/signup">Sign Up</a>
  <% end %>

 <form action="/" method="post" id="url">
   <input id="short" type="text" name="url" placeholder="Type url here&hellip;"></input>  
   <input type="submit" value="Shorten URL"> 
 </form>
 <div id="error" style="display:none">
 </div>


</div>
