<div class="container">
  <h1>Sign up</h1>
  <p>Hello, world!</p>
  <form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Submit</button>
  </form>
</div>
